*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    scroll-snap-type: y mandatory;
    /* scroll-padding-top: 10vh; */
}
body{
     height: auto;
   /* width: 100vw; */
   /* overflow-y: scroll; */
    overflow-X: hidden;
    /* background: linear-gradient(90deg,#e52e71,#ff8a00); */
    font-family: 'NeoTechPro-Light', sans-serif;

    /* background-image: url("Images/background.JPG"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 0%;
  }

/* @keyframes bodyAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
    
  } */


@font-face {
    font-family: 'NeoTechPro-Light';
    src: url('NeoTechPro-Light (2) (1).woff2') format('woff2'),
    url('casimanodes.github.io\NeoTechPro-Light (2) (1).woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}


h1{
  color: black;
  font-size: 1.75rem;
}

/*=======ABSLUTE CIRCLES=======*/
#circle_container{
  height: 100%;
  width: 100%;
  overflow: hidden;  
  z-index:1;
}
 #erwachsene h3,
 #first1 h3, 
 #second2 h3,
 #third3 h3,
 #fourth4 h3
  {
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    top: -28px;
    transform: translateX(-50%);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
    z-index: 100;      
}

:root{
  --display-absolute: block;
  --position-absolute: absolute;
  --aspect-ratio-absolute: 1/1;
  /* --height-absolute: 19%; */
  --height-absolute: 20%;

  --transform-absolute:  translateX(50%)translateY(-50%);
  --border-radius-absolute: 50%;
  --margin-absolute:0px;
  --z-index-absolute: 3;
  /* --transition-absolute: top 0.9s ease, left 0.9s ease, transform 1.3s ease, opacity 0.9s ease, height 0.9s ease; */
}

.absolute-title{
  max-width: calc(50%-1.5rem);
  position: absolute;
  top: 4.5rem;
  left: 1.5rem;
  /* transform: translatex(-50%); */
  color: black;
}

.erwachsene{
  right: 6rem;
  top: calc(var(--height-absolute) + 1.5rem);
  background-color: rgb(6, 20, 148);
  transition: top 0.9s ease, right 0.9s ease, transform 1.3s ease, opacity 0.9s ease, height 0.9s ease;
  transform: translateX(50%) translateY(-50%);
  height: var(--height-absolute);

  /* border-radius: 25%; */
  border-radius: var(--border-radius-absolute);
  display: var(--display-absolute);
  position: var(--position-absolute);
  aspect-ratio: var(--aspect-ratio-absolute);
  transform: var(--transform-absolute);
  margin: var(--margin-absolute);
  z-index: var(--z-index-absolute);
}

.absolute1{
    left: 6rem;
    top: calc(var(--height-absolute) + 13% + 1.5rem);
    transform:  translateX(-50%)translateY(-50%);
    transition: top 0.9s ease, left 0.9s ease, transform 1.3s ease, opacity 0.9s ease, height 0.9s ease;
    background-color: rgb(246, 177, 166);

    height: var(--height-absolute);
    display: var(--display-absolute);
    position: var(--position-absolute);
    aspect-ratio: var(--aspect-ratio-absolute);
    border-radius: var(--border-radius-absolute);
    margin: var(--margin-absolute);
    z-index: var(--z-index-absolute);
    border-radius: var(--border-radius-absolute);
    margin: var(--margin-absolute);
    z-index: var(--z-index-absolute);
}

.absolute2{
  transform: translateX(50%) translateY(-50%);
  transition: top 0.9s ease, right 0.9s ease, transform 1.3s ease, opacity 0.9s ease, height 0.9s ease;
  /* right: 30%;
  top: 42%; */
  right: 6rem;
  top: calc(var(--height-absolute) + 26% + 1.5rem);
  background-color: rgb(0, 125, 195);

  height: var(--height-absolute);
  display: var(--display-absolute);
  position: var(--position-absolute);
  aspect-ratio: var(--aspect-ratio-absolute);
  border-radius: var(--border-radius-absolute);
  margin: var(--margin-absolute);
  z-index: var(--z-index-absolute);
  border-radius: var(--border-radius-absolute);
  margin: var(--margin-absolute);
  z-index: var(--z-index-absolute);
}

.absolute3{
  /* left: 30%;
  top: 58%; */
  left: 6rem;
  top: calc(var(--height-absolute) + 39% + 1.5rem);
  transform: translateX(-50%) translateY(-50%);
  background-color: rgb(198, 199, 196);
  transition: top 0.9s ease, left 0.9s ease, transform 1.3s ease, opacity 0.9s ease, height 0.9s ease;
  height: var(--height-absolute);
  display: var(--display-absolute);
  position: var(--position-absolute);
  aspect-ratio: var(--aspect-ratio-absolute);
  border-radius: var(--border-radius-absolute);
  margin: var(--margin-absolute);
  z-index: var(--z-index-absolute);
  border-radius: var(--border-radius-absolute);
  margin: var(--margin-absolute);
  z-index: var(--z-index-absolute);
}

.absolute4{
    /* right: 30%;
    top: 75%; */
    right: 6rem;
    top: calc(var(--height-absolute) + 52% + 1.5rem);
    
    transform: translateX(50%) translateY(-50%);
    background-color: #cc4406;
    transition: top 0.9s ease, right 0.9s ease, transform 1.3s ease, opacity 0.9s ease, height 0.9s ease;
    height: var(--height-absolute);
    display: var(--display-absolute);
    position: var(--position-absolute);
    aspect-ratio: var(--aspect-ratio-absolute);
    border-radius: var(--border-radius-absolute);
    margin: var(--margin-absolute);
    z-index: var(--z-index-absolute);
    border-radius: var(--border-radius-absolute);
    margin: var(--margin-absolute);
    z-index: var(--z-index-absolute);
}

/*=======ABSLUTE CIRCLES END=======*/


/*========INNER CIRCLE=========*/
.innercircle_erw{
  background-image: url('Images/yoga1.jpg');
  background-size: cover;
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-position: center;
  z-index: 5;
  height: 90%;
  aspect-ratio: 1/1;
  transition: height 0.9s;
}

.innercircle{
  background-image: url('Images/yoga1.jpg');
  background-size: cover;
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-position: center;
  z-index: 5;
  height: 90%;
  aspect-ratio: 1/1;
  transition: height 0.9s;

}

.innercircle2{
  background-image: url('Images/jumpwater.jpg');
  background-size: cover;
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  background-position: center;
  z-index: 5;
  height: 90%;
  aspect-ratio: 1/1;
  opacity: 1;
  transition: height 0.9s;
}

.innercircle3{
  background-image: url('Images/fitness.jpg');
  background-size: cover;
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  background-position: center;
  z-index: 5;
  height: 90%;
  aspect-ratio: 1/1;
  transition: height 0.9s;

}

.innercircle4{
    background-image: url('Images/yoga1.jpg');
    background-size: cover;
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-position: center;
    z-index: 5;
    aspect-ratio: 1/1;

    height: 90%;
    transition: height 0.9s;
}

/*====== INNER CIRCLE END ==========*/


/*========= CIRCLE BUCHEN BUTTONS ==========*/

.babsolute1{
    display:none;
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translateX(-90%) translateY(-10%) rotate(45deg);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(246, 177, 166);
    height: min(4rem, 6rem);
    aspect-ratio: 1/1;
    border: none;
    z-index: 1;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1); 
    font-weight: bold;
    z-index: 1;
    
}

.babsolute2{
    display:none;
    position: absolute;
    transform: translateX(90%) translateY(-10%)rotate(-45deg);
    top: 47%;
    right: 20%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(0, 125, 195);
    height: min(4rem, 6rem);
    aspect-ratio: 1/1;
    border: none;
    z-index: 1;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1); 
    font-weight: bold;
}

.babsolute3{
    display:none;
    position: absolute;
    top: 63%;
    left: 20%;
    transform: translateX(-90%) translateY(-10%)rotate(45deg);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(198, 199, 196);
    height: min(4rem, 6rem);
    aspect-ratio: 1/1;
    border: none;
    z-index: 1;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1); 
    font-weight: bold;
    
}

.babsolute4{
    display:none;
    position: absolute;
    top: 80%;
    right: 20%;
    transform: translateX(90%) translateY(-10%)rotate(-45deg);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #cc4406;
    /* background-color: orangelinear-gradient(90deg, rgb(246, 177, 166), rgb(0, 125, 195), rgb(198, 199, 196)); */
    height: min(4rem, 6rem);
    aspect-ratio: 1/1;
    border: none;
    z-index: 1;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1); 
    font-weight: bold;
}

.disappear{
  transition: opacity 0.9s ease;
}

/*========= CIRCLE BUCHEN BUTTONS END ==========*/



/*======== BUCHEN & BACK BUTTON ========*/
.buchen{
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    display:flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    border-radius: 10px;
    width: 10rem;
    height: 3rem;
    bottom:0.5rem;
    right: 0.5rem;
    margin-top: 1rem;
    background-color:#08d9f0;
    opacity: 1;
    color: white;
    border: none;
    font-weight: bold;
    background-size: 300% 100%;
}

.buchen:hover {
background-position: 100% 0;
-moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
}

/*===== NEWS ======*/
.svg{
  z-index: 3;
}
.dynamicElementContainer {
  position: absolute;
  width: 3rem;
  height: 3rem;
  bottom: 0.5rem;
  left: 0.5rem;
  /* transform: translateX(-50%) translateY(-50%); */
  opacity: 0;
}

.back1{
  bottom:0.5rem;
  left: 0.5rem;
  display: none;
  position: absolute;
  /* background-size: 300% 100%;
    display:flex;
    align-items: center;
    justify-content: center; */

    /* border-radius: 50%; */
    /* background-color: red; */
    /* width: 3rem;
    height: 3rem; */

    /* border: none;
    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
    -moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
color: white;
font-size: 0.6rem;
font-weight: bold; */
}

/* .back:hover {
background-position: 100% 0;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
} */



/* its a little higher that it should be, i dont know why */
/*====== BUTTONS END ========*/




/* ========= ZOOM CONTAINER ==========  */
:root{
  --width: 10rem;
  --height: calc(35vh - 2rem);
  --display: flex;
  --position: absolute;
  --border-radius: 1rem;
  /* --background-color:rgb(245, 245, 245, 0.5); */
  --background-color:RGB(195, 211, 220);  
  --pointer-events: none;
  --transform: scale(0);
  --transition: transform 0.9s;
  --visibility: hidden;
  --box-shadow: inset 0 0 0 0.5px #fff;
  --zindex-zoom-container: 300;
}
.top-leftklick{
  top: 4rem;
  /* margin-top: 0.5rem; */
  left: 0.5rem;
  display: var(--display);
  position: var(--position);
  width: var(--width);
  height:var(--height);
  border-radius: var(--border-radius);
  background-color:var(--background-color);
  pointer-events: var(--pointer-events);
  transform: var(--transform);
  transition: var(--transition);
  visibility: var(--visibility);
  box-shadow: var(--box-shadow);
  /* justify-content: center;
  align-items: center; */
  z-index: var(--zindex-zoom-container);
}
.top-leftklick h3,
.top-rightklick h3,
.middle-leftklick h3,
.middle-rightklick h3{
  color: #0078BF;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 0.25rem;
  font-size: 1.5rem;
}

.top-leftklick ul,
.top-rightklick ul,
.middle-leftklick ul,
.middle-rightklick ul{
  /* height: 90%;
  width: 100%; */
  padding: 2rem 0.5rem;
  font-size: 1.2;
  list-style-position: inside;
}

.top-leftklick ul li,
.top-rightklick ul li,
.middle-leftklick ul li,
.middle-rightklick ul li{
  list-style-type: square;
  padding: 0.25rem -100px;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}

li::marker{
  color: #0078BF;
}
.top-leftklick ul li a,
.top-rightklick ul li a,
.middle-leftklick ul li a,
.middle-rightklick ul li a{
  z-index:999;
}

.top-rightklick{
  top: 4rem;
  /* margin-top: 0.5rem; */
  right: 0.5rem;
  display: var(--display);
  position: var(--position);
  width: var(--width);
  height:var(--height);
  border-radius: var(--border-radius);
  background-color:var(--background-color);
  pointer-events: var(--pointer-events);
  transform: var(--transform);
  transition: var(--transition);
  visibility: var(--visibility);
  box-shadow: var(--box-shadow);
  z-index: var(--zindex-zoom-container);

}

.middle-leftklick{
  bottom: 4rem;
  left: 0.5rem;
  display: var(--display);
  position: var(--position);
  width: var(--width);
  height:var(--height);
  border-radius: var(--border-radius);
  background-color:var(--background-color);
  pointer-events: var(--pointer-events);
  transform: var(--transform);
  transition: var(--transition);
  visibility: var(--visibility);
  box-shadow: var(--box-shadow);
  z-index: var(--zindex-zoom-container);

}/*maybe let the rotate on the z? axis while zooming in and out?*/
.middle-rightklick{
  bottom:4rem;
  right: 0.5rem;
  display: var(--display);
  position: var(--position);
  width: var(--width);
  height:var(--height);
  border-radius: var(--border-radius);
  background-color:var(--background-color);
  pointer-events: var(--pointer-events);
  transform: var(--transform);
  transition: var(--transition);
  visibility: var(--visibility);
  box-shadow: var(--box-shadow);
  z-index: var(--zindex-zoom-container);

}

/* ======== ZOOM CONTAINER END==========*/


/* ============ Zoom content ========== */

.vorschule-content,
.slk-content,
.seepferd-content,
.club-content{
  display: none;
  /* pointer-events: visiblePainted; */
  pointer-events: auto ;
  }  
  #scroll-tag{
      scroll-snap-align: start;
  }
  
  /* ====== ZOOM CONTENT END ====== */




/* @keyframes tapAnimation {
0% { transform: translateY(0); }
50% { transform: translateY(-10px); }
100% { transform: translateY(0); }
} */

#fingerTap{
pointer-events: none;
position: absolute;
top: 50%;
left: 50%;
width: 50px;
height: 50px;
background: url('https://i.stack.imgur.com/4ZjZl.png');
animation: tapAnimation 1s infinite;
z-index: 100;
display: absolute;
border-radius: 50%;
transform: translate(-50%, -50%);
background-color: rgba(255, 255, 255, 0);
transition: opacity 1s ease;

}





    /*======= COMPUTER VERSION ========= */
    @media screen and (min-width: 786px) {
      .absolute1:hover,
  .absolute3:hover{
  transform: translate(-50%, -50%) scale(1.1)
  }
  .erwachsene:hover,
  .absolute2:hover,
  .absolute4:hover{
      transform: translate(50%, -50%) scale(1.1)
  }
  /* MIND */
  
      .erwachsene{
          top: 40%;
          right: 15%;
          width: 35vh;
          height: 35vh;
          /* transform: translate(50%, -50%); */
          transition: top 0.9s ease, right 0.9s ease, transform 1.3s ease, opacity 0.9s ease;
      }
      .absolute1 {
          top: 40%;
          left: 15%;
          width: 35vh;
          height: 35vh;
  
          transition: top 0.9s ease, left 0.9s ease, transform 1.3s ease, opacity 0.9s ease;
      }
      /* SWYM */
      .absolute2 {                
          top: 40%;
          left: calc(50% - 35vh);
          width: 35vh;
          height: 35vh;
          transition: top 0.9s ease, right 0.9s ease, transform 1.3s ease, opacity 0.9s ease;
      }
      /* Fitness */
      .absolute3 {
          top: 75%;
          left: 30%;
          width: 35vh;
          height: 35vh;
          /* transform: translate(-50%); */
          transition: left 0.9s ease, right 0.9s ease,top 0.9s ease, transform 1.3s ease, opacity 0.5s ease;
      }
      /* Event */
      .absolute4{
          top: 75%;
          right: 30%;
          width: 35vh;
          height: 35vh;
          /* transform: translate(0%); */
          transition: right 0.9s ease, left 0.9s ease ,top 0.9s ease, transform 1.3s ease, opacity 0.5s ease;
      }
      .babsolute1,
      .babsolute2,
      .babsolute3,
      .babsolute4{
          display: none;
      }
      /* #fingerTap{
          display: none;
      } */
      /* #wordMind,
      #wordSwym,
      #wordFitness,
      #wordEvent{
          left: 90%;
          transform: translateX(-50%, -50%)
      } */
      .absolute-title{
        display: none;
        top: 6.5rem;
        left: 6rem;
      }
  
  
      /*ZOOM CONTENT*/
      .top-leftklick{
        top: 5.5rem;
        left: 0;
        margin: 2rem;
        height: 30vh;
        width: 30vw;
      }
      .top-rightklick{
        top: 5.5rem;
        right: 0;
        margin: 2rem;
        height: 30vh;
        width: 30vw;
      }
      .middle-leftklick{
        left: 0; 
        bottom: 4.5rem;
        margin: 2rem;
        height: 30vh;
        width: 30vw;
      }
      .middle-rightklick{
        right: 0;
        margin: 2rem;

        bottom: 4.5rem;
        height: 30vh;
        width: 30vw;
      }
      .buchen{
        bottom: 2rem;
        right: 2rem;
        font-size: 1.5rem;
        width: 13rem;
        height: 4rem;
      }
  
    }
  
  /*======== COMPUTER-VERION END======== */
  
  
  




/*======== DROPDOWNNAVIGATION =======*/


@font-face {
    font-family: 'NeoTechPro-Light';
    src: url('NeoTechPro-Light (2) (1).woff2') format('woff2'),
    url('dropdownNavbar\assets\css\NeoTechPro-Light (2) (1).woff2') format('woff');
  }
  
  /*=============== VARIABLES CSS ===============*/
  :root {
    --header-height: 3.5rem;
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(220, 68%, 54%);
    --first-color-lighten: hsl(220, 68%, 97%);
    --title-color: hsl(220, 48%, 28%);
    /* --text-color: hsl(220, 12%, 45%); */
    --text-color: hsl(240, 4%, 5%);
    --text-color-header: hsl(0, 0%, 100%);
    --body-color: hsl(220, 100%, 99%);
    --header-color: transparent;
    --background-color-transition: background-color 0.9s ease;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'NeoTechPro-Light', sans-serif;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }  
  @media screen and (min-width: 1024px) {
    :root {
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }

  /*=============== BASE ===============*/
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color-header);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  /*=============== REUSABLE CSS CLASSES ===============*/
  .container {
    max-width: 1120px;
    margin-inline: 1.5rem;
  }
  
  /*=============== HEADER ===============*/
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
    background-color: var(--header-color);
    z-index: var(--z-fixed);
    transition: var(--background-color-transition);
  }
  
  /*=============== NAV ===============*/
  .nav {
    height: var(--header-height);
  }
  .nav__data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__logo {
    position: relative;
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color 0.3s;
    z-index: 2;
    height: 4rem;
    width: 6rem;
    z-index: 101;
  }

  /* .nav__logo i {
    font-size: 1.25rem;
  }
  .nav__logo:hover {
    color: var(--first-color);
  } */
  .nav__toggle {
    position: relative;
    width: 32px;
    height: 32px;
    z-index: 999;
  }
  .nav__toggle-menu, .nav__toggle-close {
    font-size: 1.25rem;
    color: var(--title-color);
    position: absolute;
    display: grid;
    place-items: center;
    inset: 0;
    cursor: pointer;
    transition: opacity 0.1s, transform 0.4s;
  }
  .nav__toggle-close {
    opacity: 0;
  }
  
  @media screen and (max-width: 1118px) {
    .nav__menu {
      background-color: var(--body-color);
      position: absolute;
      left: 0;
      top: 2.5rem;
      width: 100%;
      height: calc(100vh - 3.5rem);
      overflow: auto;
      padding-block: 1.5rem 4rem;
      pointer-events: none;
      opacity: 0;
      transition: top 0.4s, opacity 0.3s;
    }
    .nav__menu::-webkit-scrollbar {
      width: 0.5rem;
    }
    .nav__menu::-webkit-scrollbar-thumb {
      background-color: hsl(220, 12%, 70%);
    }
  }
  .nav__link {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
  }
  .nav__link:hover {
    background-color: var(--first-color-lighten);
  }
  
  /* Show menu */
  .show-menu {
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
  }
  
  /* Show icon */
  .show-icon .nav__toggle-menu {
    opacity: 0;
    transform: rotate(90deg);
  }
  
  .show-icon .nav__toggle-close {
    opacity: 1;
    transform: rotate(90deg);
  }
  
  /*=============== DROPDOWN ===============*/
  .dropdown__button {
    cursor: pointer;
  }
  .dropdown__arrow {
    font-size: 1.5rem;
    font-weight: initial;
    transition: transform 0.4s;
  }
  .dropdown__content, .dropdown__group, .dropdown__list {
    display: grid;
  }
  .dropdown__container {
    background-color: var(--first-color-lighten);
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
  }
  .dropdown__content {
    row-gap: 1.75rem;
  }
  .dropdown__group {
    padding-left: 2.5rem;
    row-gap: 0.5rem;
  }
  .dropdown__group:first-child {
    margin-top: 1.25rem;
  }
  .dropdown__group:last-child {
    margin-bottom: 1.25rem;
  }
  .dropdown__icon i {
    font-size: 1.25rem;
    color: var(--first-color);
    display: none;
  }
  .dropdown__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
  }
  .dropdown__list {
    row-gap: 0.25rem;
  }
  .dropdown__link {
    font-size: var( --small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--text-color);
    transition: color 0.3s;
  }
  .dropdown__link:hover {
    color: var(--title-color);
  }
  
  /* Rotate dropdown icon */
  .show-dropdown .dropdown__arrow {
    transform: rotate(180deg);
  }
  
  /*========== MENÃœ END ==========*/
  
  
  /*=============== BREAKPOINTS NAVBAR ===============*/
  /* For small devices */
  @media screen and (max-width: 300px) {
    .dropdown__group {
      padding-left: 1.5rem;
    }
  }
  /* For large devices */
  @media screen and (min-width: 1118px) {
    /* Nav */
    .nav {
      height: calc(var(--header-height) + 2rem);
      display: flex;
      justify-content: space-between;
    }
    .nav__toggle {
      display: none;
    }
    .nav__list {
      display: flex;
      column-gap: 3rem;
      height: 100%;
    }
    .nav li {
      display: flex;
    }
    .nav__link {
      padding: 0;
    }
    .nav__link:hover {
      background-color: initial;
    }
    /* Dropdown */
    .dropdown__button {
      column-gap: 0.25rem;
      pointer-events: none;
    }
    .dropdown__container {
      height: max-content;
      position: absolute;
      left: 0;
      right: 0;
      top: 6.5rem;
      background-color: var(--body-color);
      box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
      pointer-events: none;
      opacity: 0;
      transition: top 0.4s, opacity 0.3s;
    }
    .dropdown__content {
      grid-template-columns: repeat(4, max-content);
      column-gap: 6rem;
      max-width: 1120px;
      margin-inline: auto;
    }
    .dropdown__group {
      padding: 4rem 0;
      align-content: baseline;
      row-gap: 1.25rem;
    }
    .dropdown__group:first-child, .dropdown__group:last-child {
      margin: 0;
    }
    .dropdown__list {
      row-gap: 0.75rem;
    }
    .dropdown__icon {
      width: 60px;
      height: 60px;
      background-color: var(--first-color-lighten);
      border-radius: 50%;
      display: grid;
      place-items: center;
      margin-bottom: 1rem;
    }
    .dropdown__icon i {
      font-size: 2rem;
    }
    .dropdown__title {
      font-size: var(--normal-font-size);
    }
    .dropdown__link {
      font-size: var(--small-font-size);
    }
    .dropdown__link:hover {
      color: var(--first-color);
    }
    .dropdown__item {
      cursor: pointer;
    }
    .dropdown__item:hover .dropdown__arrow {
      transform: rotate(180deg);
    }
    .dropdown__item:hover > .dropdown__container {
      top: 5.5rem;
      opacity: 1;
      pointer-events: initial;
      cursor: initial;
    }
  }
  @media screen and (min-width: 1152px) {
    .container {
      margin-inline: auto;
    }
  }
  /*======== == BREAKPOINTS NAVBAR END ==========*/
  
  




  /* ======== WORDBULLET ======== */
  :root{
    --display-wordbullet: flex;
    --position-wordbullet: absolute;
    --font-size-wordbullet: 1rem;
    --transition-wordbullet: all 0.5s ease;
    --padding-wordbullet: 0px;
    --margin-wordbullet: 0px;
    --transform-wordbullet: translate(-50%);
    --color-wordbullet: black;
  }
  /* #wordbullet ul{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 8vh;
    width: 5rem;
  } */
  
  
  header nav ul #wordMind{
    display: var(--display-wordbullet);
    position: var(--position-wordbullet);
    font-size: var(--font-size-wordbullet);
    transition: var(--transition-wordbullet);
    padding: var(--padding-wordbullet);
    margin: var(--margin-wordbullet);
    transform: var(--transform-wordbullet)
  }
  header nav ul #wordSwym{
    display: var(--display-wordbullet);
    position: var(--position-wordbullet);
    font-size: var(--font-size-wordbullet);
    transition: var(--transition-wordbullet);
    padding: var(--padding-wordbullet);
    margin: var(--margin-wordbullet);
    transform: var(--transform-wordbullet)
  }
  header nav ul #wordFitness{
    display: var(--display-wordbullet);
    position: var(--position-wordbullet);
    font-size: var(--font-size-wordbullet);
    transition: var(--transition-wordbullet);
    padding: var(--padding-wordbullet);
    margin: var(--margin-wordbullet);
    transform: var(--transform-wordbullet)
  }
  
  header nav ul #wordEvent{
    display: var(--display-wordbullet);
    position: var(--position-wordbullet);
    font-size: var(--font-size-wordbullet);
    transition: var(--transition-wordbullet);
    padding: var(--padding-wordbullet);
    margin: var(--margin-wordbullet);
    transform: var(--transform-wordbullet)

  }

  #wordMind, #wordSwym, #wordFitness, #wordEvent {
    transition: top 0.5s; /* This will animate the top property over 0.5 seconds */
    color: var(--color-wordbullet);
    /* font-weight: 550; */
    }





    /*BENTO GRID */

    


.parent {
  position: absolute;
  display: grid;
  top: calc(100% + 3.5rem);
  left: 0;
  height: calc(100% - 3.5rem);
  width: 100%;
  /* grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr); */
  grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.75rem;
  padding: 0.75rem;

  background: linear-gradient(to bottom right, #194253, #325661, #436c7e, #607996);
    
  /* Ensure the gradient covers the full page */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;}


:root{
--background-color-bento-left: rgb(139, 139, 139, 0.5);
--background-color-bento-right:rgb(29, 28, 32, 0.5);
--background-color-bento: none;
--backdrop-filter-bento: blur(100px);

/* --background-color-bento: white; */
--border-bento: 1px solid rgba(255,255,255,.08);
--border-radius-bento: 12px;


}

/*general card stylings*/
.grid-item{
border: var(--border-bento);
border-radius: var(--border-radius-bento);
transition: scale 0.5s ease-in-out;
transition-property: transform;
transition-timing-function: cubic-bezier(.4,0,.2,1);
transition-duration: .25s;
max-height: 50vh;
overflow: auto;
}

.grid-item h1{
  color: white ;
}

/* Inside the grid content  Also for swymbad*/ 
.card{
position: relative;
display: flex;
/* flex-direction: column; */
align-items: center;
justify-content: center;
height: 100%;
width: 100%;
font-size: 2rem;
padding: 0.5rem;
overflow: hidden;
flex-direction: column;
}

.bento_title{
  text-align: center;
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  left: 50%;
  transform: translateX(-50%);
}
.text_center{
  text-align: center;
  position: relative;
}


/* Inside the grid title */
.card_img_parent{ 
position: relative;
width: 100%;
height: 100%;
overflow: hidden;

width: 100%; /* Anpassbar */
height: 100%; /* Anpassbar */
border: 1px solid #000;
background-image: url('Images/Schwimmbadlifter.jpeg');
background-size: contain;
background-position: center;
background-repeat: no-repeat;
}   
.card_img_parent img{
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: var(--border-radius-bento);
  transform: translateZ(200px );
  aspect-ratio: 1/1;
}
#full{
  padding: 0rem;
}
/*each grid item positioning*/


#title { 
  /* grid-area: 1 / 1 / 3 / 4; */
  /* grid-area: 1 / 1 / 2 / 4; */
  grid-area: 2 / 1 / 3 / 3;
  /* background-color: var(--background-color-bento-left); */
  /* background: linear-gradient(to right, rgb(139, 139, 139, 0.5) 30%, rgb(29, 28, 32, 0.5) 65%); */
  backdrop-filter: var(--backdrop-filter-bento);
  background: var(--background-color-bento);
  border: 1px solid rgba(255, 255, 255, 0.5); 
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  /* display: flex;
  flex-direction: row; */
  max-height: 25vh;
  }
  
  #side-note { 
  /* grid-area: 1 / 4 / 3 / 5;  */
  grid-area: 3 / 1 / 5 / 6;
  /* background-color: var(--background-color-bento-left); */
  backdrop-filter: var(--backdrop-filter-bento);
  background:var(--background-color-bento);
  border: 1px solid rgba(255, 255, 255, 0.5); 
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);

  display: none;
  }
/* .grid-item #center{
  height: 50vh;
} */
  #center {
  /* grid-area: 3 / 2 / 9 / 4;  */
  /* background-color: var(--background-color-bento-right); */
  backdrop-filter: var(--backdrop-filter-bento);
  background: var(--background-color-bento);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  background-image: url('Images/Schwimmbadlifter.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-apect-ratio: 1/1; */
  /* grid-area: 1 / 4 / 3 / 9;  */
  grid-area: 3 / 1 / 5 / 3;
}


 .over_the_top{
  position: absolute;
  bottom: 20%;
  transform: TranslateX(-50%);
  left: 50%;
  z-index: 333;
  font-size: 2.25rem;
  font-weight: 800;
  text-shadow: 4px 4px 0px black;
  white-space: nowrap;
}
  #left-note {
  /* grid-area: 3 / 1 / 9 / 2; */
  /* grid-area: 3 / 6 / 4 / 9; */
  text-align: center;
  grid-area: 1 / 1 / 2 / 2; 
  /* background-color: var(--background-color-bento-right); */
  backdrop-filter: var(--backdrop-filter-bento);
  background: var(--background-color-bento);
  border: 1px solid rgba(255, 255, 255, 0.5); 
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  max-height: 25vh;
}
#right-note{
  display: block;
  /* grid-area: 2 / 1 / 3 / 4; */
  grid-area: 1 / 2 / 2 / 3;
  /* background-color: var(--background-color-bento-left); */
  backdrop-filter: var(--backdrop-filter-bento);
  border: 1px solid rgba(255, 255, 255, 0.5); 
  background: var(--background-color-bento);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  max-height: 25vh;

  } 
  #bottom {
    display: block;
    grid-area: 4 / 6 / 5 / 9;
  /* background-color: var(--background-color-bento-right); */
  backdrop-filter: var(--backdrop-filter-bento);
  background: var(--background-color-bento);
  border: 1px solid rgba(255, 255, 255, 0.5); 
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);

display: none;
  }


.ul_icon{
  position: relative;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  width: 100%;
}

.ul_icon h3{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.25rem;
}

.card-icon{
  /* transform: translateX(-100%); */
  transform: translateY(-25%);
  height: 2rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 0.25rem;
  position: absolute;
  display: flex-start;

}
.card ul{
  width: 100%;
}
.card ul li{
  padding: 0.5rem 0;
  width: 100%;

}

.bento_p{
  color: white;
  text-align: center;
  padding: 0.5rem 0;
  font-weight: 600;
  font-size: 1rem; 
}


.grid-item:hover{
transform: scale(1.03);
}


@media screen and (min-width: 768px) {
  .parent {
    position: absolute;
    display: grid;
    top: calc(100vh + 5rem);
    height:calc(100vh - 5rem);
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.75rem;
    padding: 0.5rem;
}

#title { 
  grid-area: 1 / 1 / 3 / 4;
  }
  
  #side-note { 
  grid-area: 1 / 4 / 2 / 5; 
  display: flex;
  }
  
#center { 
/* grid-area: 2 / 2 / 5 / 4;  */
grid-area: 5 / 1 / 9 / 3;
}

#left-note {
/* grid-area: 2 / 1 / 5/ 2; */
grid-area: 3 / 1 / 5 / 4;
} 

 #right-note { 
  grid-area: 1 / 4 / 5 / 5;
/* grid-area: 1 / 4 / 3 / 5;  */
display: block;
max-height: 50vh;
} 

#bottom {
  /* display: none; */
  /* grid-area: 2 / 4 / 5 / 5; */
  grid-area: 5 / 3 / 9 / 5;
  display: block;
}



  .card_img_parent img{
    width: auto;
    height: 90%;
    display: none;
  }
.gird-item:hover{
transform: none;
}



}

/* ======== BENTO GRID END ======== */





        /*content container*/
        #container_expand {
          position: absolute;
          width: 3rem;
          height: 3rem;
          bottom: 0.5rem;
          left: 0.5rem;
          /* transform: translateX(-50%) translateY(-50%); */
        }
    
    /*info button*/
        #function_button {
          opacity: 1;
          /* animation: rotate 0.55s ease; */
          position: absolute; /* Changed to absolute */
          display: flex;
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          cursor: pointer;
          z-index: 3; /* Ensures it stays on top */
          Font-size: 3rem;
          font-weight: 800;
          color: black;
          /* text-align: center;s */
          align-items: center;
          justify-content: center;
          z-index: 900;
          transition: opacity 0.3s ease-in-out;
    
        }
    
    /*the picture container*/
        #arrow_container{
          opacity: 0;
          position: absolute; 
          display: flex;
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          cursor: pointer;
          align-items: center;
          justify-content: center;
      z-index: 902;
          transition: opacity 0.3s ease-in-out;
    }
    /*the picture itself*/
    .arrow{
      opacity: 1;
    
      transition: transform 0.5s;
      height: 1.75rem;
      width: 1.75rem;
    }
    
        
        @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    
     #moreinfo {
        position: absolute;
        display: flex;
        padding-right: 0.5rem;
        margin: auto;
        left: 0.5rem;
        bottom: 0.5rem;
        width: 3rem; 
        height: 3rem;
        border-radius: 1.5rem; 
        z-index: 2;
        color: black;
        font-size: 1rem;
        align-items: center;
        justify-content: flex-end;
        overflow: hidden; 
        text-overflow: ellipsis; 
        white-space: nowrap; 
        margin: 0;
        transition: width 0.5s;
        border: solid 2px black;
        opacity: 0;
        pointer-events: none;
        background-color: white;
      }
      .info{
        font-size: 2rem;
        font-weight: 900;
        z-index: 901  ;
      }
    
        #contentArea {
    
          position: absolute; /* Changed to absolute */
          bottom: -1px; /* Aligns to the bottom of the container */
          left: -1px; /* Aligns to the right of the container */
          width: 0;
          height: 0;
          overflow: hidden;  
          transition: width 0.5s, height 0.5s;
          z-index: 1; /* Lower than circleButton */
        }
    
        #contentArea.expanded {
          width: 12rem; /* Adjust as needed */
          height: 12rem; /* Adjust as needed */
          background-color: rgba(73, 71, 71, 0.9);
          border: 1px solid rgba(0, 0, 0, 0.5);
          border-bottom-left-radius: 1.5rem;
          border-bottom-right-radius:1.5rem ;
          border-top-right-radius: 1.5rem;
          display: flex;
          flex-direction: row;
          position: absolute;
        }

        /* #contentArea.expanded h1{
          color: white;
          font-size: 1.5rem;
          font-weight: 600;
          text-align: center;
          padding: 0.5rem;
        } */

        .area_left{

          width: 50%;
          height: 100%;
          padding: 0.25rem;
          display: flex;
          /* border-right: solid 1px white; */
          background-color: #8B8B8B;
        }
        .area_left h3{
          text-align: center;
        }
        .area_right{
          width: 50%;
          height: 100%;
          padding: 0.25rem;
          display: flex;
          /* border-left: solid 1px white; */
          background-color: #727272;
        }
        .area_right{
          text-align: center;

        }

