



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    scroll-snap-type: y mandatory;
    /* scroll-padding-top: 10vh; */
}
body{
     height: 100vh;
   /* width: 100vw; */
   /* overflow-y: scroll; */
    overflow-X: hidden;
    background: linear-gradient(90deg,#e52e71,#ff8a00);
    font-family: 'NeoTechPro-Light', sans-serif;
}
@font-face {
    font-family: 'NeoTechPro-Light';
    src: url('NeoTechPro-Light (2) (1).woff2') format('woff2'),
    url('casimanodes.github.io\NeoTechPro-Light (2) (1).woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* main{
    background: linear-gradient(180deg, 
                    #402ee5 10%,    
                    #f44f08 30%,   
                    green 55%,     
                    yellow 80%,  
                    red 95%);
    
} */



#circle4{
    height: 100%;
    width: 100%;
    overflow: hidden;  
}
/* 
header{
    width: 100%;
    font-family: var(--font-family);
    transition: background-color 0.9s;
    height: 10vh;
    background-color: rgb(0, 0, 0, 0);
}
header nav{
    max-width: 96%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 10vh;
    z-index: 1;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);

}

header nav .logo{
    max-width: 80%;
    max-height: 80%;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin: 1px 0;
}

header ul{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 8vh;
    align-items: flex-start;
}

header nav ul li{
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;
}

header nav ul #wordMind{
    display: flex;
    position: absolute;
    font-size: 1rem;
    transition: all 0.5s ease;
    padding: 0;
    margin: 0;
}
header nav ul #wordSwym{
    display: flex;
    position: absolute;
    font-size: 1rem;
    transition: all 0.5s ease;
    padding: 0;
    margin: 0;
}
header nav ul #wordFitness{
    display: flex;
    position: absolute;
    font-size: 1rem;
transition: all 0.5s ease;
padding: 0;
margin: 0;
}

header nav ul #wordEvent{
    display: flex;
    position: absolute;
    font-size: 1rem;
    transition: all 0.5s ease;
    padding: 0;
    margin: 0;
} */




 #first1 h3, 
 #second2 h3,
 #third3 h3,
 #fourth4 h3
  {
    color: white;
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    top: -28px;
    transform: translateX(-50%);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1); 
    z-index: 100;      
}

.absolute1{
    display: block;
    position: absolute;
    left: 30%;
    top: 25%;
    /* left: 2rem; */
    background-color: rgb(246, 177, 166);
    aspect-ratio: 1/1;
    height: 20%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 50%;
    margin:0px;
    /* overflow: hidden;             */

    z-index: 2;
    transition: top 0.9s ease, left 0.9s ease, transform 1.3s ease, opacity 0.9s ease;
}
.innercircle{
    background-image: url('Images/yoga1.jpg');
    background-size: cover;
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-position: center;
    z-index: 5;
    height: 90%;
    aspect-ratio: 1/1;
    transition: height 0.9s;

}
.absolute2{
    display: block;
    position: absolute;
    right: 30%;
    top: 42%;
    background-color: rgb(0, 125, 195);
    aspect-ratio: 1/1;
    height: 20%;
    transform: translateX(50%) translateY(-50%);
    border-radius: 50%;
    margin:  0px;
    overflow: default;
    transition: top 0.9s ease, left 0.9s ease, transform 1.3s ease, opacity 0.9s ease;
    z-index:2;
}

.innercircle2{
    background-image: url('Images/jumpwater.jpg');
    background-size: cover;
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-position: center;
    z-index: 5;
    height: 90%;
    aspect-ratio: 1/1;
    opacity: 1;
    transition: height 0.9s;
}
.absolute3{
    transition: top 0.9s ease, left 0.9s ease, transform 1.3s ease, opacity 0.9s ease;
    display: block;
    position: absolute;
    top: 58%;
    left: 30%;
    background-color: rgb(198, 199, 196);
    aspect-ratio: 1/1;
    height: 20%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    margin:  0px;
    overflow: default;
    z-index:2;
}

.innercircle3{
    background-image: url('Images/fitness.jpg');
    background-size: cover;
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-position: center;
    z-index: 5;
    height: 90%;
    aspect-ratio: 1/1;
    transition: height 0.9s;

}

.absolute4{
    transition: top 0.9s ease, left 0.9s ease, transform 1.3s ease, opacity 0.9s ease;
    display: block;
    position: absolute;
    bottom: 25%;
    right: 30%;
    aspect-ratio: 1/1;
    height: 20%;
    transform: translateX(50%) translateY(50%);
    border-radius: 50%;
    margin:  0px;
    overflow: default;
    z-index: 1;
    background-color: #cc4406;
    z-index:2;
}


.innercircle4{
    background-image: url('Images/yoga1.jpg');
    background-size: cover;
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-position: center;
    z-index: 5;
    aspect-ratio: 1/1;

    height: 90%;
    transition: height 0.9s;
}

.babsolute1{
    display:flex;
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translateX(-90%) translateY(-10%) rotate(45deg);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(246, 177, 166);
    height: min(4rem, 6rem);
    aspect-ratio: 1/1;
    border: none;
    z-index: 1;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1); 
    font-weight: bold;
    z-index: 1;
    
}

.babsolute2{
    display:flex;
    position: absolute;
    transform: translateX(90%) translateY(-10%)rotate(-45deg);
    top: 47%;
    right: 20%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(0, 125, 195);
    height: min(4rem, 6rem);
    aspect-ratio: 1/1;
    border: none;
    z-index: 1;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1); 
    font-weight: bold;
}

.babsolute3{
    display:flex;
    position: absolute;
    top: 63%;
    left: 20%;
    transform: translateX(-90%) translateY(-10%)rotate(45deg);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(198, 199, 196);
    height: min(4rem, 6rem);
    aspect-ratio: 1/1;
    border: none;
    z-index: 1;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1); 
    font-weight: bold;
    
}

.babsolute4{
    display:flex;
    position: absolute;
    top: 80%;
    right: 20%;
    transform: translateX(90%) translateY(-10%)rotate(-45deg);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #cc4406;
    /* background-color: orangelinear-gradient(90deg, rgb(246, 177, 166), rgb(0, 125, 195), rgb(198, 199, 196)); */
    height: min(4rem, 6rem);
    aspect-ratio: 1/1;
    border: none;
    z-index: 1;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1); 
    font-weight: bold;
}

.disappear{
    transition: opacity 0.9s ease;
}

.picture img {
display: flex;
justify-content: center; /* Center horizontally */
align-items: center;     /* Center vertically */
width: auto;             /* Take full width of the parent */
height: 50%;            /* Take full height of the parent */
overflow: hidden; 
    position: relative;
    
    }



    /* Computer Screen */
@media screen and (min-width: 786px) {
    .absolute1:hover,
.absolute2:hover,
.absolute3:hover{
transform: translate(-50%, -50%) scale(1.2)
}


    .absolute1 {
        top: 50vh;
        left: 25vw;
        width: 25vh;
        height: 25vh;
        transform: translate(-50%, -50%);
        transition: left 0.9s ease, right 0.9s ease, transform 1.3s ease, opacity 0.9s ease;
    }
    .absolute2 {                
        top: 50vh;
        left: 50vw;
        width: 25vh;
        height: 25vh;
        transform: translate(-50%, -50%);
        transition: transform 1.3s ease, opacity 0.9s ease;
    }

    .absolute3 {
        top: 50vh;
        left: 75vw;
        width: 25vh;
        height: 25vh;
        transform: translateX(-50%) translateY(-50%);
        transition: left 0.9s ease, transform 1.3s ease, opacity 0.5s ease;
    }
    #fingerTap{
        display: none;
    }
    .wordbullet{
        display: none;
    }
}

/* Media querie End */


.buchen{
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);

    display:flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 7rem;
    height: 3rem;
    bottom:0.5rem;
    right: 0.5rem;
    margin-top: 1rem;
    background-color:#08d9f0;
    opacity: 1;
    color: white;
    border: none;
    font-weight: bold;

    background-size: 300% 100%;
}
.buchen:hover {
background-position: 100% 0;
-moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
}

.back1{
    background-size: 300% 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 10px;
    background-color: red;
    width: 5rem;
    height: 3rem;
    bottom:0.5rem;
    left: 0.5rem;
    border: none;
    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
    -moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
color: white;
font-size: 1rem;
font-weight: bold;
}

.back:hover {
background-position: 100% 0;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
}


/* Zoom content  */
.top-leftklick{
    
    display: flex ;
    position: absolute;
    top: 12vh;
    left: 1rem;
    width: 8rem;
    height:8rem;
    border-radius: 1rem;
    background-color:rgb(245, 245, 245, 0.5);
    pointer-events: none;
    transform: scale(0);
    transition: transform 0.9s /*opacity 0.9s*/;
    visibility: hidden;
    box-shadow: inset 0 0 0 0.5px #fff;

}
.top-leftklick .tl-content{
    padding: 0.5rem;
}

.top-leftklick .tl-content ul li{
    list-style-type: none;
    text-decoration: none;
}

.top-rightklick{
    display:flex;
    position: absolute;
    background-color:rgb(245, 245, 245, 0.5);
    border-radius: 1rem;

    width: 8rem;
    height: 8rem;
    top:12vh;
    right: 1rem;
    pointer-events: none;
    transform: scale(0);
    transition: transform 0.9s;
    visibility: hidden;
    box-shadow: inset 0 0 0 0.5px #fff;

}

.middle-leftklick{
    border-radius: 10px;
    display: flex ;
    position: absolute;
    
    bottom: 4rem;
    left: 1rem;
    width: 8rem;
    height: 8rem;
    background-color:rgb(245, 245, 245, 0.5);
    box-shadow: inset 0 0 0 0.5px #fff;
    pointer-events: none;
    margin-bottom: 0.5rem;
    transform: scale(0);
    transition: transform 0.9s;
    visibility: hidden;
    box-shadow: inset 0 0 0 0.5px #fff;

}/*maybe let the rotate on the z? axis while zooming in and out?*/
.middle-rightklick{
    display:flex;
    position: absolute;
    border-radius: 10px;
    width: 8rem;
    height: 8rem;
    bottom:4rem;
    right: 1rem;
    margin-bottom: 0.5rem;
    background-color:rgb(245, 245, 245, 0.5);
    transform: scale(0);
    transition: transform 0.9s;
    box-shadow: inset 0 0 0 0.5px #fff;

    visibility: hidden;
    pointer-events: none;
}
#wordMind, #wordSwym, #wordFitness, #wordEvent {
transition: top 0.5s; /* This will animate the top property over 0.5 seconds */
}




/*add nav start*/
/* 
.menu__toggler {
position: absolute;
top: 5%;
right: 0.1rem;
transform: translate(-50%, -50%);
z-index: 999;
height: 28px;
width: 28px;
outline: none;
cursor: pointer;
display: flex;
align-items: center;
}

.menu__toggler span,
.menu__toggler span::before,
.menu__toggler span::after {
position: absolute;
content: '';
width: 28px;
height: 2.5px;
background: #fff;
border-radius: 20px;
transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.menu__toggler span::before {
top: -8px;
}

.menu__toggler span::after {
top: 8px;
}

.menu__toggler.active > span {
background: transparent;
}

.menu__toggler.active > span::before,
.menu__toggler.active > span::after {
background: #005c9c;
top: 0px;
}

.menu__toggler.active > span::before {
transform: rotate(-225deg);
}

.menu__toggler.active > span::after {
transform: rotate(225deg);
}

.menu {
top: 0;
position: fixed;
right: -90%;
z-index: 998;
color: #005c9c;
background: rgba(7, 159, 224, 0.9); /* Corrected the rgba function syntax 
clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
width: 90%;
height: 100%;
padding: 100px;
display: flex;
flex-direction: column;
justify-content: center;
transition: 300ms right cubic-bezier(0.77, 0, 0.175, 1);
overflow: hidden;
}



.menu.active {
right: 0;
}

.menu p {
color: white;
font-size: 1.4rem;
margin-bottom: 1rem;
} */
/*add nav end*/



/* @keyframes tapAnimation {
0% { transform: translateY(0); }
50% { transform: translateY(-10px); }
100% { transform: translateY(0); }
} */

#fingerTap{
pointer-events: none;
position: absolute;
top: 50%;
left: 50%;
width: 50px;
height: 50px;
background: url('https://i.stack.imgur.com/4ZjZl.png');
animation: tapAnimation 1s infinite;
z-index: 100;
display: absolute;
border-radius: 50%;
transform: translate(-50%, -50%);
background-color: rgba(255, 255, 255, 0);
transition: opacity 1s ease;

}




/* Zoom content styles  */

.swym-content{
height: 100%;
width: 100%;
overflow: hidden;
position: relative;
display: none;

padding-left: 1rem;
padding-top: 1rem;
}
.swym-content h4{
position: absolute;
top: 0%;
left:50%;
transform: translateX(-50%);
}

.mind-content{
display: none;
padding-left: 1.5rem;
padding-top: 1rem;
}
.fitness-content{
display: none;
padding-left: 1.5rem;
padding-top: 1rem;
}
.event-content{
display: none;
padding-left: 1.5rem;
padding-top: 1rem;

}

#scroll-tag{
    scroll-snap-align: start;
}



/* DROPDOWNNAVIGATION */


@font-face {
    font-family: 'NeoTechPro-Light';
    src: url('NeoTechPro-Light (2) (1).woff2') format('woff2'),
    url('dropdownNavbar\assets\css\NeoTechPro-Light (2) (1).woff2') format('woff');
    /* font-weight: normal;
    font-style: normal; */
  }
  
  /*=============== VARIABLES CSS ===============*/
  :root {
    --header-height: 3.5rem;
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(220, 68%, 54%);
    --first-color-lighten: hsl(220, 68%, 97%);
    --title-color: hsl(220, 48%, 28%);
    /* --text-color: hsl(220, 12%, 45%); */
    --text-color: hsl(240, 4%, 5%);
    --text-color-header: hsl(0, 0%, 100%);
    --body-color: hsl(220, 100%, 99%);
    --header-color: transparent;
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'NeoTechPro-Light', sans-serif;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  @media screen and (min-width: 1024px) {
    :root {
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }
  
  /*=============== BASE ===============*/
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color-header);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  /*=============== REUSABLE CSS CLASSES ===============*/
  .container {
    max-width: 1120px;
    margin-inline: 1.5rem;
  }
  
  /*=============== HEADER ===============*/
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
    background-color: var(--header-color);
    z-index: var(--z-fixed);
  }
  
  /*=============== NAV ===============*/
  .nav {
    height: var(--header-height);
  }
  .nav__data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__logo {
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color 0.3s;
    z-index: 2;
  }
  .nav__logo i {
    font-size: 1.25rem;
  }
  .nav__logo:hover {
    color: var(--first-color);
  }
  .nav__toggle {
    position: relative;
    width: 32px;
    height: 32px;
    z-index: 999;
  }
  .nav__toggle-menu, .nav__toggle-close {
    font-size: 1.25rem;
    color: var(--title-color);
    position: absolute;
    display: grid;
    place-items: center;
    inset: 0;
    cursor: pointer;
    transition: opacity 0.1s, transform 0.4s;
  }
  .nav__toggle-close {
    opacity: 0;
  }
  
  @media screen and (max-width: 1118px) {
    .nav__menu {
      background-color: var(--body-color);
      position: absolute;
      left: 0;
      top: 2.5rem;
      width: 100%;
      height: calc(100vh - 3.5rem);
      overflow: auto;
      padding-block: 1.5rem 4rem;
      pointer-events: none;
      opacity: 0;
      transition: top 0.4s, opacity 0.3s;
    }
    .nav__menu::-webkit-scrollbar {
      width: 0.5rem;
    }
    .nav__menu::-webkit-scrollbar-thumb {
      background-color: hsl(220, 12%, 70%);
    }
  }
  .nav__link {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
  }
  .nav__link:hover {
    background-color: var(--first-color-lighten);
  }
  
  /* Show menu */
  .show-menu {
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
  }
  
  /* Show icon */
  .show-icon .nav__toggle-menu {
    opacity: 0;
    transform: rotate(90deg);
  }
  
  .show-icon .nav__toggle-close {
    opacity: 1;
    transform: rotate(90deg);
  }
  
  /*=============== DROPDOWN ===============*/
  .dropdown__button {
    cursor: pointer;
  }
  .dropdown__arrow {
    font-size: 1.5rem;
    font-weight: initial;
    transition: transform 0.4s;
  }
  .dropdown__content, .dropdown__group, .dropdown__list {
    display: grid;
  }
  .dropdown__container {
    background-color: var(--first-color-lighten);
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
  }
  .dropdown__content {
    row-gap: 1.75rem;
  }
  .dropdown__group {
    padding-left: 2.5rem;
    row-gap: 0.5rem;
  }
  .dropdown__group:first-child {
    margin-top: 1.25rem;
  }
  .dropdown__group:last-child {
    margin-bottom: 1.25rem;
  }
  .dropdown__icon i {
    font-size: 1.25rem;
    color: var(--first-color);
    display: none;
  }
  .dropdown__title {
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
  }
  .dropdown__list {
    row-gap: 0.25rem;
  }
  .dropdown__link {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    transition: color 0.3s;
  }
  .dropdown__link:hover {
    color: var(--title-color);
  }
  
  /* Rotate dropdown icon */
  .show-dropdown .dropdown__arrow {
    transform: rotate(180deg);
  }
  
  
  
  
  
  /*=============== BREAKPOINTS ===============*/
  /* For small devices */
  @media screen and (max-width: 300px) {
    .dropdown__group {
      padding-left: 1.5rem;
    }
  }
  /* For large devices */
  @media screen and (min-width: 1118px) {
    /* Nav */
    .nav {
      height: calc(var(--header-height) + 2rem);
      display: flex;
      justify-content: space-between;
    }
    .nav__toggle {
      display: none;
    }
    .nav__list {
      display: flex;
      column-gap: 3rem;
      height: 100%;
    }
    .nav li {
      display: flex;
    }
    .nav__link {
      padding: 0;
    }
    .nav__link:hover {
      background-color: initial;
    }
    /* Dropdown */
    .dropdown__button {
      column-gap: 0.25rem;
      pointer-events: none;
    }
    .dropdown__container {
      height: max-content;
      position: absolute;
      left: 0;
      right: 0;
      top: 6.5rem;
      background-color: var(--body-color);
      box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
      pointer-events: none;
      opacity: 0;
      transition: top 0.4s, opacity 0.3s;
    }
    .dropdown__content {
      grid-template-columns: repeat(4, max-content);
      column-gap: 6rem;
      max-width: 1120px;
      margin-inline: auto;
    }
    .dropdown__group {
      padding: 4rem 0;
      align-content: baseline;
      row-gap: 1.25rem;
    }
    .dropdown__group:first-child, .dropdown__group:last-child {
      margin: 0;
    }
    .dropdown__list {
      row-gap: 0.75rem;
    }
    .dropdown__icon {
      width: 60px;
      height: 60px;
      background-color: var(--first-color-lighten);
      border-radius: 50%;
      display: grid;
      place-items: center;
      margin-bottom: 1rem;
    }
    .dropdown__icon i {
      font-size: 2rem;
    }
    .dropdown__title {
      font-size: var(--normal-font-size);
    }
    .dropdown__link {
      font-size: var(--small-font-size);
    }
    .dropdown__link:hover {
      color: var(--first-color);
    }
    .dropdown__item {
      cursor: pointer;
    }
    .dropdown__item:hover .dropdown__arrow {
      transform: rotate(180deg);
    }
    .dropdown__item:hover > .dropdown__container {
      top: 5.5rem;
      opacity: 1;
      pointer-events: initial;
      cursor: initial;
    }
  }
  @media screen and (min-width: 1152px) {
    .container {
      margin-inline: auto;
    }
  }
  
  
  
  /* WORDBULLET */
  
  /* #wordbullet ul{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 8vh;
    width: 5rem;
  } */
  
  
  header nav ul #wordMind{
    display: flex;
    position: absolute;
    font-size: 1rem;
    transition: all 0.5s ease;
    padding: 0;
    margin: 0;
  
  }
  header nav ul #wordSwym{
    display: flex;
    position: absolute;
    font-size: 1rem;
    transition: all 0.5s ease;
    padding: 0;
    margin: 0;
  }
  header nav ul #wordFitness{
    display: flex;
    position: absolute;
    font-size: 1rem;
  transition: all 0.5s ease;
  padding: 0;
  margin: 0;
  }
  
  header nav ul #wordEvent{
    display: flex;
    position: absolute;
    font-size: 1rem;
    transition: all 0.5s ease;
    padding: 0;
    margin: 0;
  }